/************************************************************************************
    BODY
************************************************************************************/

body
{
    overflow-y: scroll;
}

/************************************************************************************
    BLOCKS
************************************************************************************/

.block ul
{
    padding-left: 15px;
}

/************************************************************************************
    TOP-NAV
************************************************************************************/
#logo a
{
}

/************************************************************************************
    MESSAGES
************************************************************************************/

.alert-box ul
{
    list-style-type: none;
    margin-bottom: 0;
}

/************************************************************************************
    FORMS
************************************************************************************/

form ul
{
    list-style-type: none;
    color: red;
}
input.input-error, textarea.input-error
{
    border: thin solid red;
}

/************************************************************************************
    AJAX
************************************************************************************/

#load-gif
{
    position: relative;
    left: 50%;
}